*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar{
  border: 1px solid red;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
}
.container{
  width: 50%;
  margin: 1rem auto;
  border: 1px solid red;
  padding: 1rem;
}
.geners-btn{
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  margin: 0 1rem;
}
.music-list {
  border: 1px solid red;
  padding: 1rem;
}
.list-item {
  border: 1px solid red;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border-radius: 8px;
}
.list-item p{
  font-size: 1.6rem;
  /* border: 1px solid red; */
  height: 100px;
  padding: 1rem 0.8rem;
  font-weight: bold;
}
 

@media only screen and (max-width: 600px) {
   .nav-bar{
    font-size: 1.2rem;
   }
   .container{
    width: 100%;
   }
   .geners{
    /* border: 1px solid red; */
    display: flex;
   }
   .geners-btn{
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
   }
}